<div class="start-screen">
    <div class="gold-framework">

    </div>
    <div class="start-framework">
        <div class="start-inner-framework">
            <div class="headline">
                <h1>RING<br>
                    <div class="of">OF<br></div>
                    FIRE
                </h1>
            </div>
            <div (click)="newGame()" class="start-label-box">
                <p style="color:black">Start game</p>
            </div>
        </div>
    </div>
    <div class="gold-framework">

    </div>
</div>