.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    //background-color: rgb(175, 6, 6);
    background-image: url("/assets/img/background2.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    // img in card-stack
    img {
        position: absolute;
        width: 128px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out; // 225

    &:hover {
        transform: scale(1.1) translatey(-10px)// zoom in, zoom out in y direction
    }
}

.pick-card {
    transition: all 125ms ease-in-out; // 225
    transform: scale(1.5) !important; // zoom in, zoom out in y direction // hover (please refer: top-card) is stronger
}
